<configuration>

    <!-- 普通日志 -->

    <!-- https://github.com/qos-ch/logback/blob/master/logback-examples/src/main/resources/chapters/appenders/conf/logback-Console.xml -->

    <!-- 控制台日志 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} -%highlight(%5p) %magenta(${PID:- }) - [%15.15t] %cyan(%-40.40logger{39}) : %m%n</pattern>
        </encoder>
    </appender>

    <!-- 扫描的包以及日志等级 -->

    <!-- https://github.com/qos-ch/logback/blob/master/logback-examples/src/main/resources/chapters/configuration/sample3.xml -->

    <logger name="org.springframework.web" level="DEBUG"/>

    <root level="INFO">
        <!-- 激活：控制台日志 -->
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
