<configuration scan="true" scanPeriod="10 seconds">

    <!-- 日志存放路径 -->
    <property name="LOG_PATH" value="/logs"/>
    <!-- 日志输出格式-控制台 -->
    <property name="STDOUT_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} -%highlight(%5p) %magenta(${PID:- }) - [%15.15t] %cyan(%-40.40logger{39}) : %X{serial} : %m%n"/>

    <!-- 日志输出格式-文件 -->
    <property name="FILE_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} -%5p ${PID:- } - [%15.15t] %-40.40logger{39} : %X{serial} : %m%n"/>

    <!-- 打包文件名后缀 -->
    <property name="SUFFIX_NAME" value="log.gz"/>

    <!-- 控制台日志 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${STDOUT_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 日志文件 -->

    <!-- https://github.com/qos-ch/logback/blob/master/logback-examples/src/main/resources/chapters/appenders/conf/logback-async.xml -->

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/spring-boot-logback.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 单文件大小 -->
            <maxFileSize>20MB</maxFileSize>
            <!-- 单个日志文件大小超过上限后，打包文件名 -->
            <fileNamePattern>${LOG_PATH}/spring-boot-logback.log.%d{yyyy-MM-dd}.%i.${SUFFIX_NAME}</fileNamePattern>
            <!-- 最大保留天数 -->
            <maxHistory>60</maxHistory>
            <!-- 日志大小总上限，默认值：0，无上限 -->
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 日志文件 A -->
    <appender name="FILE_A" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/spring-boot-logback-a.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 单文件大小 -->
            <maxFileSize>20MB</maxFileSize>
            <!-- 单个日志文件大小超过上限后，打包文件名 -->
            <fileNamePattern>${LOG_PATH}/spring-boot-logback-a.log.%d{yyyy-MM-dd}.%i.${SUFFIX_NAME}</fileNamePattern>
            <!-- 最大保留天数 -->
            <maxHistory>60</maxHistory>
            <!-- 日志大小总上限，默认值：0，无上限 -->
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 日志文件 B -->
    <appender name="FILE_B" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/spring-boot-logback-b.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 单文件大小 -->
            <maxFileSize>20MB</maxFileSize>
            <!-- 单个日志文件大小超过上限后，打包文件名 -->
            <fileNamePattern>${LOG_PATH}/spring-boot-logback-b.log.%d{yyyy-MM-dd}.%i.${SUFFIX_NAME}</fileNamePattern>
            <!-- 最大保留天数 -->
            <maxHistory>60</maxHistory>
            <!-- 日志大小总上限，默认值：0，无上限 -->
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 异步日志文件 -->
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
    </appender>

    <!-- 异步日志文件 A -->
    <appender name="ASYNC_A" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE_A"/>
    </appender>

    <!-- 异步日志文件 B -->
    <appender name="ASYNC_B" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE_B"/>
    </appender>

    <!-- 扫描的包以及日志等级 -->

    <!-- https://github.com/qos-ch/logback/blob/master/logback-examples/src/main/resources/chapters/configuration/sample3.xml -->

    <!-- 扫描的包以及日志等级输出到文件 -->
    <logger name="org.springframework.web" level="DEBUG">
        <!-- 激活：异步日志文件 -->
        <appender-ref ref="ASYNC"/>
    </logger>

    <!-- 扫描的包以及日志等级输出到文件 A -->
    <logger name="cn.com.xuxiaowei.a" level="DEBUG">
        <appender-ref ref="ASYNC_A"/>
    </logger>

    <!-- 扫描的包以及日志等级输出到文件 B -->
    <logger name="cn.com.xuxiaowei.b" level="INFO">
        <appender-ref ref="ASYNC_B"/>
    </logger>

    <root level="INFO">
        <!-- 激活：控制台日志 -->
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
